.container-fluid {
    height: max-content;
    background-color: rgb(175, 0, 0);
}

form {
    margin: 50px auto;
    width: 90%;
    height: 100%;
}

label {
    width: 150px;
    color: white;
    margin: 25px 50px 25px 0px;
    font-size: 1.5em;
}

input {
    height: 40px;
    width: 200px;
    margin: 1rem auto;
    font-size: 1.5em;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 50px;
}

.row {
    width: 400px;
    text-align: left;
    margin: 25px auto;
}

#button {
    background-color: rgb(27, 25, 25);
    border: none;
    color: white;
    width: 90%;
    line-height: 1.2em;
    font-size: 1.2em;
    text-align: center;
    margin: 1rem auto;
}

#results {
    color: rgb(14, 14, 13);
    font-size: 3em;
    text-align: center;
    height: 10rem;
}